
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Koda för välgörenhet</h1>
  <p>
  Kodhjälpen är en samling av programmerare, designers och andra IT-intresserade människor som tillsammans vill göra nytta för lokal välgörenhet
  </p>
  <p><a class="btn btn-primary btn-large">Läs mer...</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span6">
    <h2>Syfte</h2>
    <p>
    Syftet med kodhjälpen är att ge välgörenhet möjlighet att få tillgång till IT-verktyg som underlättar deras verksamhet. Många välgörenhetsorganisationer gör mycket gott men har inte resurserna som krävs för att skaffa de IT-relaterade verktyg som de behöver.
    </p>

    <p>
    Det kan vara verktyg för att hålla koll på volontärer, insamlingar, scheman etc.
    </p>

    <p><a class="btn" href="#">Läs mer...</a></p>
  </div>
  <div class="span6">
    <h2>Mening</h2>
    <p>
    Kodhjälpen vill para ihop dessa välgörenheter med utvecklare som donerar sin tid för att hjälpa dem att utveckla sin verksamhet. Allt är gratis för välgörenheten som behöver verktyg. Det enda den behöver bistå med är sin tid och sitt kunnande kring verksamheten för att tillsammans se till att lösningen som skapas blir den som verkligen behövs.
    </p>
    <p><a class="btn" href="#">Läs mer...</a></p>
  </div>
</div>
