<p>Hej <%= @resource.email %>!</p>

<p>Någon har begärt en länk för att återställa lösenordet för ditt konto. Om du inte har begärt detta kan du bortse från det här mailet. Har du däremot begärt en återställning så är det bara att klicka på länken nedan och följa instruktionerna.</p>

<p><%= link_to 'Ändra mitt lösenord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Ditt lösenord kommer inte att ändras innan du besöker länken i detta mail.</p>
